@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'variables';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg;
    font-family: 'Montserrat', sans-serif;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    padding: 2rem;
}

p {
    color: $color-text;
    font-weight: 700;
}